[submodule "assets/scripts/cli"]
	path = assets/scripts/cli
	url = git@github.com:ranorsolutions/labra-cli
[submodule "services/db"]
	path = services/db
	url = git@github.com:ranorsolutions/labra-svc-db
[submodule "assets/lib/models"]
	path = assets/lib/models
	url = git@github.com:ranorsolutions/labra-models
[submodule "assets/lib/svc-common-go"]
	path = assets/lib/svc-common-go
	url = git@github.com:ranorsolutions/svc-common-go
[submodule "assets/lib/http-common-go"]
	path = assets/lib/http-common-go
	url = git@github.com:ranorsolutions/http-common-go
[submodule "assets/lib/platform"]
	path = assets/lib/platform
	url = git@github.com:ranorsolutions/labra-platform
